@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&family=Pushster&family=Shizuru&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background-color: #000;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d20962;
}

.fuente-1 {
  font-family: 'Shizuru', cursive;
}

.fuente-2 {
  font-family: 'Pushster', cursive;
}

.fondo_caja {
  background: url("../images/bg-colors-r.png");
  max-height: 100vh;
  min-height: 100vh;
  background-position: left;
  background-attachment: fixed;
}

.fondo_caja .navbar .navbar-brand {
  margin-left: 30px;
}

.fondo_caja .navbar .navbar-nav {
  margin-right: 100px;
}

.contenedor-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
}

.titulo {
  color: #ffff;
  letter-spacing: 15px;
  font-family: 'Pushster', cursive;
  font-size: 80px;
  padding: 15px 20px 20px;
  border: #fff solid 10px;
}

main .conocenos {
  background: url("../images/font-text.png");
  background-repeat: no-repeat;
  background-position: end;
}

main .conocenos .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

main .conocenos .container .caja {
  width: 50%;
  padding: 0;
  margin: 0;
}

main .conocenos .container .ctexto {
  text-align: justify;
  font-weight: 400;
}

main .conocenos .container .ctexto .titulo-texto {
  text-align: center;
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;
}

main .conocenos .container .cimagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

main .conocenos .container .cimagen img {
  width: 300px;
}

main .conocenos .container .brain {
  font-size: 25px;
}

main .fotos .container {
  text-align: center;
}

main .fotos .container h2 {
  padding-top: 30px;
  font-size: 50px;
}

main .fotos .galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .fotos .galeria .caja {
  margin: 10px;
}

main .fotos .galeria .caja img {
  vertical-align: top;
  width: 300px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

main .talleres {
  margin-top: 40px;
  background: #1877f2;
}

main .talleres .container h2 {
  color: #fff;
  font-size: 50px;
}
/*# sourceMappingURL=styles.css.map */